@{
    ViewData["Title"] = "Привет!";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}

<div class="text-center">
    <h1 class="display-4">Привет!!</h1>
    <p>Сайт турагентства by Alex</p>
</div>
